@import "../../style/theme.scss";

.swap-chart-container {
  height: fit-content;
  margin: 100px 20px;
  margin-right: 0;
  flex-grow: 1;
  border-radius: 25px;
  background-color:  var(--primary-bg);
  padding: 16px;
  width: 100%;
  position: relative;
  max-width: 800px;
 
  .lottie{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .vert-line {
    position: absolute;
    width: 5px;
    height: 100%;
    background: coral;
    top: 0;
    bottom: 0;
  }

  .chart-header {
    display: flex;
    color: white;
    font-weight: 900;
    font-size: 25px;
    justify-content: space-between;
  

    .chart-toggle {
      font-size: 20px;
      font-weight: 900;
      color: white;
      align-items: center;

      display: flex;
      .switch {
        margin-left: 5px;
      }
     
      .icon{
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
    }
    .chart-header-right {
      color: $input-bg-color;

      .active {
        color: var(--text-color-active);
      }
      a {
        margin-left: 5px;
      }
    }
  }

  .hover-date{
    text-align: left;
    color: var(--secondary-bg);
    font-size: 18px;
    font-weight: 900;
   left: 25px;
    position: absolute;
    top:115px
  }

  .chart-info {
    display: flex;
    font-weight: 900;
    font-size: 25px;
    margin-top: 5px;
 
    span {
      margin-top: 25px;
      margin-left: 10px;
      color: $light-primary;
    }

    .price {
      margin-top: auto;
      font-size: 50px;
      text-align: end;
      color: var(--text-color);
    }
  }
}

#swap-chart {
  width: 100% !important;
  max-height: 500px !important;

  canvas {
    max-height: 100vh;
  }
}
