@import "../../style/theme.scss";

#page-pool {
    @extend .page;
    padding: 0 20px;
    justify-content: center;
 

    .pool-container {
        height: fit-content;
        border-radius: 25px;
        background-color: var(--primary-bg);
        padding: 16px;
        max-width: 500px;
        width: 100%;
        margin: 100px 0;

        .tabs {
            font-weight: 600;
            a {
                padding: 0 15px;
                cursor: pointer;
            }
        }

        .pool-container-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow-back {
                cursor: pointer;
                stroke: var(--text-color);
                width: 24px;
                transform: rotate(90deg);

                &:hover {
                    stroke: var(--secondary-bg);
                }
            }
        }
    }

    .pool-container-left {
        margin-right: 20px;
       
    }
}
