@import "../../../style/theme.scss";

.confirm-supply {
    background-color: $dark-accent;
    width: 100vw;
    height: 100vh;

    .confirm-supply-container {
        position: absolute;
        border-radius: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--primary-bg);
        width: 100%;
        max-width: 480px;
        max-height: 80vh;
        display: flex;
        flex-direction: column;

        .confirm-supply-header-container {
            display: flex;
            flex-direction: column;
         
            .close-btn {
                width: 20px;
                height: 20px;
                fill: var(--text-color);
                &:hover{
                    fill: var(--secondary-bg);
                }
            }

            .confirm-supply-header {
                display: flex;
                justify-content: space-between;
                color: var(--text-color);
                padding: 20px;
                font-size: 20px;
                font-weight: 900;
            }
        }

        .confirm-btn {
            margin: 50px auto;
            margin-bottom: 20px;
        }

        .supply-confirm-content {
            padding: 0 20px;

            .arrow-down {
                stroke: var(--secondary-bg);
                margin-left: 3px;
            }

            .supply-confirm-note {
                padding: 15px 20px;
                word-wrap: break-word;
                font-style: italic;
            }

            .supply-confirm-info {
                .flex-space-between {
                    padding: 5px 0;
                }
            }
        }
    }
}
