@import "../../style/theme.scss";

#swap-page {
    background:  var(--primary-bg);
   // background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(48, 55, 87, 1) 100%, rgba(0, 212, 255, 1) 100%);
   background: linear-gradient(180deg, var(--swap-gradient1) 0%, var(--swap-gradient2) 100%, var(--swap-gradient3) 100%);
    display: flex;
    justify-content: center;
    flex-grow: 1;

   

    .price-per-one {
      text-align: left;
      color:  var(--text-color);
      margin-left: 16px;
  }

    .swap-container {
     
      height: fit-content;
        border-radius: 25px;
        background-color: var(--primary-bg);
        padding: 16px;
        max-width: 480px;
        margin: 100px 20px;

        .swap-container-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3{
                margin: 0;
                color:  var(--text-color);
            }
        }      
    }    
}
