@import "../../style/theme.scss";

.spinner {
    border: 8px solid $light-primary;
    border-top: 8px solid $dark-primary;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
