@import '../../../style/theme.scss';
.period-selector{
    font-size: 20px;
    font-weight: 900;
    color:var(--text-color);

    .active{
      color:var(--text-color-active)
    }
    a{
      margin-left: 5px;
      text-decoration: none;
      color:var(--text-color);
    }
  }