@import '../../../style/theme.scss';
.period-selector{
    font-size: 20px;
    font-weight: 900;
    color:white;// $input-bg-color;

    .active{
      color:$light-primary
    }
    a{
      margin-left: 5px;
      text-decoration: none;
      color:white;
    }
  }