@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;600;900&display=swap");

body {
    font-family: "Mulish", sans-serif;
    color: var(--text-color);
    --dark-primary: #303757;
}

$dark-primary: var(--dark-primary);
$light-primary: #0088cc;
$dark-accent: rgba(58, 55, 55, 0.884);
$input-bg-color: rgb(75, 95, 129);

.btn {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 24px;
    text-align: center;
    background: $light-primary;
    padding: 12px 32px 12px 28px;
    outline: none;
    border: none;
    color: white;
    font-weight: 900;
}

.btn-interact {
    &:hover {
        transform: scale(1.05) perspective(1px);
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space-between {
    @extend .flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

.tooltip {
    position: relative;
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: var(--secondary-bg);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        bottom: 100%;
        right: 0;
       
        position: absolute;
        z-index: 1;
    }
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.page {
    background: var(--primary-bg);
    
    background: linear-gradient(
        180deg,
        var(--swap-gradient1) 0%,
        var(--swap-gradient2) 100%,
        var(--swap-gradient3) 100%
    );
    display: flex;
    flex-grow: 1;
}
