@import "../../style/theme.scss";

.supply-btn {
    margin-top: 50px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 24px;
    text-align: center;
    background: $light-primary;
    padding: 12px 32px 12px 28px;
    outline: none;
    border: none;
    color: white;
    font-weight: 900;
}

.supply-btn-disabled {
    @extend .supply-btn;
    background: $input-bg-color;
}
