@import "../../style/theme.scss";

.token-select {
    background-color: $dark-accent;
    width: 100vw;
    height: 100vh;

    .spinner {
        width: 50px;
        height: 50px;
        margin: auto;
    }

    .token-select-container {
        position: absolute;
        border-radius: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--primary-bg);
        width: 100%;
        max-width: 480px;
        height: 100%;
        max-height: 80vh;
        display: flex;
        flex-direction: column;

        .token-most-used-container {
            display: flex;      
            padding: 16px 12px;   
            flex-flow: wrap;  
            border-bottom: 1px white solid;

            .most-used-item {
                cursor: pointer;

                &:hover{
                    border-color:  var(--secondary-bg);
                }

                margin: 4px;
                border: 2px solid var(--input-bg);
                border-radius: 25px;
                display: flex;
                padding: 8px 12px;
                color:  var(--text-color);
                text-align: left;
                align-items: center;

                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
        }

        .token-select-header-container {
            display: flex;
            flex-direction: column;
          //  border-bottom: 1px white solid;
            .close-btn {
                width: 20px;
                height: 20px;
                fill:  var(--text-color);
                cursor: pointer;

                &:hover{
                    fill:  var(--secondary-bg);
                }
            }

            .token-select-header {
                display: flex;
                justify-content: space-between;
                color:  var(--text-color);
                padding: 20px;
                font-size: 20px;
                font-weight: 900;
            }
        }

        .token-select-search {
            margin: 8px 16px;           
            background-color: var(--input-bg);
            border-radius: 25px;
            padding: 16px;
            border: 2px solid transparent;
            &:focus-within {
                border: 2px solid $light-primary;
            }

            input {
                width: 100%;
                display: block;
                font-size: 20px;
                margin: 0;
                padding: 0;
                background: transparent;
                border: none;
                outline: none;
                color: var(--text-color);
                font-weight: 600;
            }
        }

        .token-select-list {
            //  width: 100%;
            margin: 0;
            overflow-y: scroll;
            padding: 20px;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: #1d2133;
                outline: 2px solid #303757;
            }
        }

        .token-item-empty {
            color:  var(--text-color);
            font-size: 16px;
            font-weight: 900;
        }

        .token-item {
            cursor: pointer;
            display: flex;
            padding: 8px 0;
            color:  var(--text-color);
            text-align: left;
            align-items: center;

            img {
                width: 36px;
                height: 36px;
            }

            .token-item-desc {
                margin-left: 16px;
                .token-item-symbol {
                    font-size: 20px;
                    font-weight: 600;
                }

                .token-item-name {
                    font-size: 14px;
                    color: rgb(182, 185, 197);
                }
            }
        }
    }
}
