@import '../slippage_tolerance/slippage-tolerance.scss';

.trade-deadline{
    @extend .slippage-tolerance;

    margin: 5px 0;
    margin-bottom: 25px;

    .deadline{
        @extend .percentage;

        .input{
            width: 20px;
            padding: 0 2px;
        }
    }
}