.fee-tiers{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .active{
        border: 2px solid var(--secondary-bg)!important;
    }

    .fee-tier{
        cursor: pointer;
        font-size: 12px;
        max-width: 80px;
        text-align: left;
        padding: 15px;
        font-weight: 600;

        border-radius: 25px;
        border: 2px solid var(--input-bg);
        

        .fee-tier-percent{
            font-weight: 900;
            font-size: 16px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}